.rightnavmiddle-middle{
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightnavmiddle-middle-container{
    background: white;
     border-radius: 10px; 
}

.rightnavmiddle-middle-date{
    width: 120px;
    height: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7a7781;
}